body {
    background: #303841;
}

header a {
    color: #be3144;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.first-color {
    background: #d3d6db;
}

.second-color {
    background: #3a4750;
}

.third-color {
    background: #303841;
}

.fourth-color {
    background: #be3144;
}